<footer class="footer mt-5">
  <div class="container py-4">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="text-white">{{ 'FOOTER.EMAIL' | translate }}</h5>
        <h5 class=" mb-4">
       <a href="mailto:rudymontenegro4&#64;gmail.com" class="text-white-50 text-decoration-none">rudymontenegro4&#64;gmail.com</a>
        </h5>
        <h5 class="text-white">{{ 'FOOTER.WHATSAPP' | translate }}</h5>
        <h5 class="text-white mb-3"><a href="https://wa.me/59179982876" class="text-white-50 text-decoration-none">+ 591 79982876</a></h5>
      </div>
      <!-- <div class="col-md-4">
        <h5 class="text-white mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50 text-decoration-none">Portfolio</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none">Services</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none">About</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none">Contact</a></li>
        </ul>
      </div> -->
      <div class="col-md-4">
        <h5 class="text-white mb-3">{{ 'FOOTER.SOCIAL_MEDIA' | translate }}</h5>
        <div class="d-flex gap-3">
          <a href="https://github.com/RudyMontenegro" class="btn btn-dark">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/rudy-montenegro-montero-b15171153/" class="btn btn-dark">
            <i class="fab fa-linkedin"></i>
          </a>
          <!-- <a href="#" class="btn btn-dark">
            <i class="fab fa-whatsapp"></i>
          </a> -->
          <a href="https://www.instagram.com/rudy_montenegrom/" class="btn btn-dark">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="border-top border-secondary mt-4 pt-4">
      <p class="text-white-50 text-center mb-0">
        {{ 'FOOTER.COPYRIGHT' | translate }}
      </p>
    </div>
  </div>
</footer>