<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ps-3" href="#">My_FolioWeb<span class="blinking-cursor">_</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">{{ 'SKILLS' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">{{ 'PROJECTS' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#featured">{{ 'FEATURED' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">{{ 'CONTACT' | translate }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'LANGUAGE' | translate }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" (click)="changeLanguage('en')">English</a></li>
            <li><a class="dropdown-item" href="#" (click)="changeLanguage('es')">Español</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 